/* *{
   background-color: #f5f5f5;;
} */
*{
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;

}
.bigparent {
 border: 2px solid red;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #00253c;
  cursor: pointer;
  /* height: 100px; */

}

.firstchild {
  border: 3px solid blue;
  display: flex;
  justify-content: center;
  width: 27%;
  align-items: center;
background-color: #00253c;
  margin-left: 30px;
  cursor: pointer;
  gap:20px
}
.secondchild {
  border: 2px solid red;
  background-color: #00253c;
  width: 35%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 50px;
  cursor: pointer;
}
.bigparent a {
  color: white;
  cursor:pointer;
}
.images {
  background: url("https://forever.travel-assets.com/flex/flexmanager/images/2021/11/01/ORB_Storefront_6_imgB_1400x600_20211028.jpg?impolicy=fcrop&w=900&h=225&q=mediumHigh");
  height: 320px;
  cursor: pointer;
}
.formcenter {
  background-color: white;
  width: 90%;
  height: 21vw;
  margin-top: 20px;
  cursor: pointer;
}
.mainbox{
 
  width: 90%;
  margin: auto;
display: flex;
color: #007E8F;
justify-content: space-around;
font-size: 11px;
margin-top: 50px;
background-color: #f5f5f5;
cursor:pointer;
}
.lastcolor{
  color: #007E8F;
}
.Allcss_lastcolor__yKVAK>button{
  color: #007E8F;
  cursor: pointer;
}
a{
  margin-top: 20px;
  cursor: pointer;
}
.breadcrumb{
  width:70%;
  margin:auto;
  font-size:13px;
  margin-top:12px;
  
  color: #007E8F;
  cursor: pointer;
}